[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FSelectorRcpp"]
	path = FSelectorRcpp
	url = https://github.com/mi2-warsaw/fselectorrcpp
[submodule "GOpro"]
	path = GOpro
	url = https://github.com/mi2-warsaw/gopro
[submodule "sejmRP"]
	path = sejmRP
	url = https://github.com/mi2-warsaw/sejmrp
	subdir = sejmRP
