[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "FSelectorRcpp"]
	path = FSelectorRcpp
	url = https://github.com/mi2-warsaw/fselectorrcpp
	shallow = true
	registered = true
