[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "sejmRP"]
	path = sejmRP
	url = https://github.com/mi2-warsaw/sejmrp
	shallow = true
	subdir = sejmRP
	registered = true
[submodule "GOpro"]
	path = GOpro
	url = https://github.com/mi2-warsaw/gopro
	shallow = true
	registered = true
[submodule "FSelectorRcpp"]
	path = FSelectorRcpp
	url = https://github.com/mi2-warsaw/fselectorrcpp
	shallow = true
	registered = true
